/* Start Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
main > section:not(.landing, .discount) {
  padding-top: var(--bar-height);
  margin-bottom: var(--bar-height);
  position: relative;
}
@media (max-width: 797px) {
  main > section:not(.landing, .discount) {
    padding-top: var(--bar-height-mob-screen);
  }
}
/* End Global Rules */
/* Start Global Variables */
:root {
  --main-color: #2196f3;
  --alt-color: #1b7ac7;
  --bar-height: 80px;
  --bar-height-mob-screen: calc(
    (var(--bar-height) / 2) + (var(--bar-height) / 1.5)
  );
  --main-transition-duration: 0.3s;
  --transparent-text-color: #777;
}
/* End Global Variables */
/* Start Components */
.u-centered {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.special-heading {
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: -o-fit-content;
  width: -ms-fit-content;
  margin: 0 auto 80px;
  padding: 10px 20px;
  border: 2px solid black;
  font-size: 30px;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
  position: relative;
}
.special-heading::before,
.special-heading::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: -1;
}
.special-heading::before {
  left: -30px;
}
.special-heading::after {
  right: -30px;
}
.special-heading:hover::before {
  animation: left-move 0.5s linear forwards;
  -webkit-animation: left-move 0.5s linear forwards;
}
.special-heading:hover::after {
  animation: right-move 0.5s linear forwards;
  -webkit-animation: right-move 0.5s linear forwards;
}
.special-heading:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 30px;
  background-image: linear-gradient(to bottom right, white 25%, transparent 25%),
    linear-gradient(to bottom left, white 25%, transparent 25%);
  background-size: 30px 30px;
  z-index: 100;
}
/* End Components */
/* Start Header */
.bar {
  width: 100%;
  background-color: rgb(255 255 255 / 90%);
  box-shadow: 0 0 10px #ddd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  backdrop-filter: blur(10px);
}
.bar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.bar__logo {
  color: var(--main-color);
  font-weight: bold;
  font-size: 26px;
  height: var(--bar-height);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .bar__logo {
    width: 100%;
    height: calc(var(--bar-height) / 1.5);
  }
  .nav {
    margin: auto;
  }
}
.nav > ul {
  display: flex;
}
.nav > ul > li > a,
.nav > ul > li > label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--bar-height);
  color: black;
  padding: 0 30px;
  position: relative;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
  overflow: hidden;
}
@media (max-width: 767px) {
  .nav > ul > li > a {
    padding: 10px;
    font-size: 14px;
    height: calc(var(--bar-height) / 2);
  }
  .nav > ul > li > label {
    padding: 10px;
    font-size: 14px;
    height: calc(var(--bar-height) / 2);
  }
}
.nav > ul > li > a::before,
.nav > ul > li > label::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 2px solid var(--main-color);
  background-color: #fafafa;
  top: 0;
  left: -100%;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
  z-index: -2;
}
.nav > ul > li > a:hover,
.nav > ul > li > label:hover {
  color: var(--main-color);
}
.nav > ul > li > a:hover::before,
.nav > ul > li > label:hover::before {
  left: 0;
}
.nav > ul > li > label {
  cursor: pointer;
}
.nav > ul > li > input[type="checkbox"] {
  display: none;
}
.mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(var(--bar-height) + 50px);
  padding: 30px;
  background-color: rgb(255 255 255 / 90%);
  backdrop-filter: blur(10px);
  border-bottom: 3px solid var(--main-color);
  display: flex;
  visibility: hidden;
  gap: 40px;
  opacity: 0;
  transition: top var(--main-transition-duration),
    opacity var(--main-transition-duration);
  -webkit-transition: top var(--main-transition-duration),
    opacity var(--main-transition-duration);
  -moz-transition: top var(--main-transition-duration),
    opacity var(--main-transition-duration);
  -ms-transition: top var(--main-transition-duration),
    opacity var(--main-transition-duration);
  -o-transition: top var(--main-transition-duration),
    opacity var(--main-transition-duration);
}
#mega-menu-toggle:checked ~ .mega-menu {
  visibility: visible;
  top: calc(var(--bar-height) + 2px);
  opacity: 1;
}
@media (max-width: 767px) {
  .mega-menu {
    flex-direction: column;
    gap: unset;
    padding: 5px;
  }
  #mega-menu-toggle:checked ~ .mega-menu {
    top: calc(var(--bar-height-mob-screen) + 2px);
  }
}
.mega-menu__image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .mega-menu__image {
    display: none;
  }
}
.mega-menu__links {
  min-width: 250px;
  flex: 1;
  z-index: 2;
}
.mega-menu__links > li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .mega-menu__links:first-of-type > li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.mega-menu__links > li > a {
  color: var(--main-color);
  display: block;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
.mega-menu__links > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
}
.mega-menu__links > li > a:hover::before {
  left: 0;
}
.mega-menu__links > li > a > i {
  margin-right: 10px;
}
/* End Header */
/* Start Main */
/* Start Landing */
.landing {
  margin-top: var(--bar-height);
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .landing {
    margin-top: var(--bar-height-mob-screen);
  }
}
.landing::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
  transform-origin: top left;
}
.landing__content {
  min-height: calc(100vh - var(--bar-height));
  display: flex;
  align-items: center;
  padding-bottom: var(--bar-height);
}
.landing__text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing__text {
    text-align: center;
  }
}
.landing__text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -1px;
}
@media (max-width: 767px) {
  .landing__text h1 {
    font-size: 28px;
  }
}
.landing__text p {
  font-size: 22px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing__text p {
    margin: 10px auto;
    font-size: 18px;
  }
}
.landing__image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
  -webkit-animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing__image img {
    display: none;
  }
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
}
.landing .go-down:hover {
  color: var(--alt-color);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
  -webkit-animation: bouncing 1.5s infinite;
}
/* End Landing */
/* Start Articles */
.articles__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}
.articles__box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
}
.articles__box:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles__box img {
  width: 100%;
  max-width: 100%;
}
.articles__box-description {
  padding: 20px;
}
.articles__box-description p {
  line-height: 1.5;
  color: var(--transparent-text-color);
  margin-top: 10px;
}
.articles__box-more {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
}
.articles__box-more a {
  font-weight: bold;
  color: var(--main-color);
}
.articles__box:hover .articles__box-more i {
  animation: moving-arrow 0.6s linear infinite;
  -webkit-animation: moving-arrow 0.6s linear infinite;
}
/* End Articles */
/* End Main */
/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
}
/* End Animation */
